services: 
  postgres:
    image: pgvector/pgvector:pg16
    container_name: candidate_pg
    environment:
      POSTGRES_DB: candidates
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
     - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: